// カラー
$red: #f34949;
$green: #11b111;
$blue: #495ef3;
$black: #000;

:root {
  // color
  --primary: #{$blue};
  --secandary: #{$green};
  --overlay-color: #{rgba($black, 0.6)};

  // size
  --form-item-height: 30px;

  // z-index
  --zindex-modal: 1000; // アラート / モーダル
  --zindex-modal-overlay: 1000; // アラート / モーダル用 オーバーレイ
  --zindex-loading-over: 2000; // ローディング
  --zindex-loading-overlay: 2000; // ローディング用 オーバーレイ
}