// カラー
$red: #f34949;
$green: #11b111;
$blue: #495ef3;
$white: #f1f1f1;
$black: #333;
$gray: #aaa;

:root {
  // theme color
  --primary: #{$blue};
  --secandary: #{$green};
  --error: #{$red};
  --emphasis: #{$red};

  // object color
  --text-color: #{$black};
  --text-color-white: #{$white};
  --overlay-color: #{rgba($black, 0.7)};
  --modal-color: #{$white};
  --separator-color: #{$gray};
  --negative-button-color: #363636;

  // width / height
  --form-item-height: 30px;

  // space
  --space-tiny: 8px;
  --space-small: 12px;
  --space-regular: 16px;
  --space-large: 20px;
  --space-big: 32px;
  --space-huge: 40px;
  --space-grant: 60px;

  // z-index
  --zindex-modal: 1000; // アラート / モーダル
  --zindex-modal-overlay: 1000; // アラート / モーダル用 オーバーレイ
  --zindex-loading-over: 2000; // ローディング
  --zindex-loading-overlay: 2000; // ローディング用 オーバーレイ
}